<?xml version="1.0"?>
<robot name="space_sim" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- 首先包含自定义描述宏 -->
  <xacro:include filename="$(find space_sim_description)/xacro/space_sim_macro.xacro"/>

  <!-- 我们需要指定用于参数化描述的参数 -->
  <!-- 为所需的ur_type创建一个文件夹，并从ur_description包中复制文件到那里 -->
  <!-- 夹爪类型统一由 dual_arm_config.xacro 配置 -->
  <!-- UR 安全限位和路径参数 -->
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="force_abs_paths" default="false"/>


  <!-- Jazzy: 纯描述入口，用于 RViz/MoveIt，不包含 ros2_control -->
  <xacro:space_sim
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="$(arg force_abs_paths)"
  />

</robot>