[submodule "lib/ros2_robotiq_gripper"]
	path = lib/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
[submodule "lib/mujoco_ros2_control"]
	path = lib/mujoco_ros2_control
	url = https://github.com/ros-controls/mujoco_ros2_control.git
	branch = main
[submodule "lib/mujoco_vendor"]
	path = lib/mujoco_vendor
	url = https://github.com/pal-robotics/mujoco_vendor.git
[submodule "lib/dh_ag95_ros2"]
	path = lib/dh_ag95_ros2
	url = https://github.com/TDC-TangChaoBanLi/dh_ag95_ros2.git
