<?xml version="1.0"?>
<robot name="assembly_env_mujoco" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- xacro src/my_env/my_env_mujoco/urdf/assembly_env/assembly_env_mujoco.urdf.xacro -o src/my_env/my_env_mujoco/urdf/assembly_env/assembly_env_mujoco.urdf -->  
<!-- urdf2mjcf src/my_env/my_env_mujoco/urdf/assembly_env/assembly_env_mujoco.urdf -o ./src/my_env/my_env_mujoco/mjcf/assembly_env_mujoco.xml -m src/my_env/my_env_mujoco/meshes -c -j src/my_env/my_env_mujoco/config/assembly_config.json -->


  <!-- 首先包含自定义描述宏 -->
  <xacro:include filename="$(find my_env_description)/urdf/assembly_env/assembly_env_macro.urdf.xacro"/>

  <!-- 我们需要指定用于参数化描述的参数 -->
  <!-- 为所需的ur_type创建一个文件夹，并从ur_description包中复制文件到那里 -->
  
  <!-- UR_A 机器人参数 -->
  <xacro:arg name="arm_A_tf_prefix" default="arm_A_"/>
  <xacro:arg name="ur_A_ur_type" default="ur5e"/>

  <!-- UR_B 机器人参数 -->
  <xacro:arg name="arm_B_tf_prefix" default="arm_B_"/>
  <xacro:arg name="ur_B_ur_type" default="ur5e"/>

  <!-- 控制参数 -->
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="fake_sensor_commands" default="true" />
  <xacro:arg name="use_sim_mujoco" default="true" />
  <xacro:arg name="mjcf_file_path" default="$(find my_env_mujoco)/mjcf/assembly_env_mujoco.xml"/>
  <xacro:arg name="pids_config_file_path" default="$(find my_env_control)/config/mujoco_pids_config.yaml"/>
  <xacro:arg name="generate_ros2_control" default="false" />
  <!-- <xacro:arg name="ur_A_initial_positions" default="{shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0}"/> -->
  <!-- <xacro:arg name="ur_B_initial_positions" default="{shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0}"/> -->
  
  <!-- 夹爪和相机参数 -->
  <xacro:arg name="camera_use_nominal_extrinsics" default="true"/>

  <xacro:property name="ur_A_initial_positions" value="${dict(shoulder_pan_joint=-1.57,shoulder_lift_joint=-1.27,elbow_joint=1.0,wrist_1_joint=-1.3,wrist_2_joint=-1.57,wrist_3_joint=-1.57)}"/>
  <xacro:property name="ur_B_initial_positions" value="${dict(shoulder_pan_joint=-1.57,shoulder_lift_joint=-2.27,elbow_joint=-0.2,wrist_1_joint=-2.24,wrist_2_joint=1.57,wrist_3_joint=1.57)}"/>

  <!-- 创建包含机器人的场景描述 - 传递assembly_env宏需要的所有参数 -->
  <xacro:assembly_env 
    arm_A_tf_prefix="$(arg arm_A_tf_prefix)"
    arm_B_tf_prefix="$(arg arm_B_tf_prefix)"
    use_fake_hardware="$(arg use_fake_hardware)"
    use_fake_sensor_commands="$(arg fake_sensor_commands)"
    use_sim_mujoco="$(arg use_sim_mujoco)"
    mjcf_file_path="$(arg mjcf_file_path)"
    pids_config_file_path="$(arg pids_config_file_path)"
    generate_ros2_control="$(arg generate_ros2_control)"

    ur_A_ur_type="$(arg ur_A_ur_type)"
    ur_B_ur_type="$(arg ur_B_ur_type)"
    ur_A_initial_positions="${ur_A_initial_positions}"
    ur_B_initial_positions="${ur_B_initial_positions}"

    camera_use_nominal_extrinsics="$(arg camera_use_nominal_extrinsics)"

  />

</robot>