<?xml version="1.0"?>
<robot name="my_env" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find my_env_description)/urdf/my_arm_macro.urdf.xacro"/>
  <xacro:include filename="$(find my_env_description)/urdf/my_arm_mujoco_control.urdf.xacro"/>
  <xacro:include filename="$(find my_env_description)/urdf/len_macro.xacro"/>

  <xacro:macro name="my_env" params="
  arm_A_tf_prefix:=arm_A_
  arm_B_tf_prefix:=arm_B_
  use_fake_hardware:=false
  use_fake_sensor_commands:=false
  use_sim_gazebo:=false
  use_sim_mujoco:=false
  mjcf_file_path
  generate_ros2_control:=false

  ur_reverse_ip:=0.0.0.0
  ur_headless_mode:=false
  ur_A_ur_type:=ur5
  ur_B_ur_type:=ur5e
  ur_A_robot_ip:=192.168.1.101
  ur_B_robot_ip:=192.168.1.102

  ur_A_reverse_port:=50001
  ur_A_script_sender_port:=50002
  ur_A_script_command_port:=50003
  ur_A_trajectory_port:=50004

  ur_B_reverse_port:=50011
  ur_B_script_sender_port:=50012
  ur_B_script_command_port:=50013
  ur_B_trajectory_port:=50014

  camera_use_nominal_extrinsics:=true

  gripper_com_port_A:=/dev/ttyUSB0
  gripper_com_port_B:=/dev/ttyUSB1
  ">
  

  <!-- <material name="aluminum">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material> -->


  <link name="world"/>
  <!-- platform joint -->
  <joint name="world_to_platform" type="fixed">
    <parent link="world" />
    <child link="platform_link" />
    <origin xyz="0 0 1.0" rpy="0 0 0" />
  </joint>

  <!-- platform link -->
  <link name="platform_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/platform.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/platform_0.STL"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/platform_1.STL"/></geometry></collision>
  </link>

  <!-- basket_A link -->
  <link name="basket_A_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/basket.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_0.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_1.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_2.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_3.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_4.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_5.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_6.stl"/></geometry></collision>
  </link>
  <!-- basket_A joint -->
  <joint name="platform_to_basket_A" type="fixed">
    <parent link="platform_link"/>
    <child link="basket_A_link"/>
    <origin xyz="0 -0.3015 0" rpy="0 0 0" />
  </joint>

  <!-- basket_B link -->
  <link name="basket_B_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/basket.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_0.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_1.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_2.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_3.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_4.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_5.stl"/></geometry></collision>
    <collision><geometry><mesh filename="package://my_env_description/meshes/basket_parts/basket_6.stl"/></geometry></collision>
  </link>
  <!-- basket_B joint -->
  <joint name="platform_to_basket_B" type="fixed">
    <parent link="platform_link"/>
    <child link="basket_B_link"/>
    <origin xyz="0 -0.3015 0" rpy="0 0 ${pi}" />
  </joint>


  <!--lens link & joint-->
  <!-- lens_0 -->
  <xacro:len_macro 
    link_name="lens_0_link" 
    parent_name="world"
  >
    <origin xyz="0.5 -0.3015 1.2" rpy="0 ${pi} ${pi/2}" />
  </xacro:len_macro>

  <link name="peg_0_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_0" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_0_link"/>
    <origin xyz="0 -0.025 0.523" rpy="${pi} 0 0" />
  </joint>

  <!-- lens_A1 -->
  <xacro:len_macro 
    link_name="lens_A1_link" 
    parent_name="world"
  >
    <origin xyz="0.551 -0.3015 1.2" rpy="0 ${pi} ${pi/2}" />
  </xacro:len_macro>

  <link name="peg_A1_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_A1" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_A1_link"/>
    <origin xyz="${0.5*0.523} -0.025 ${0.866*0.523}" rpy="${pi} ${pi/6} 0" />
  </joint>

  <!-- lens_A2 -->
  <xacro:len_macro 
    link_name="lens_A2_link" 
    parent_name="world"
  >
    <origin xyz="0.602 -0.3015 1.2" rpy="0 ${pi} ${pi/2}" />
  </xacro:len_macro>

  <link name="peg_A2_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_A2" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_A2_link"/>
    <origin xyz="${0.866*0.523} -0.025 ${0.5*0.523}" rpy="${pi} ${2*pi/6} 0" />
  </joint>

  <!-- lens_A3 -->
  <xacro:len_macro 
    link_name="lens_A3_link" 
    parent_name="world"
  >
    <origin xyz="0.653 -0.3015 1.2" rpy="0 ${pi} ${pi/2}" />
  </xacro:len_macro>

  <link name="peg_A3_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_A3" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_A3_link"/>
    <origin xyz="${1*0.523} -0.025 ${0*0.523}" rpy="${pi} ${3*pi/6} 0" />
  </joint>

  <!-- lens_A4 -->
  <xacro:len_macro 
    link_name="lens_A4_link" 
    parent_name="world"
  >
    <origin xyz="0.704 -0.3015 1.2" rpy="0 ${pi} ${pi/2}" />
  </xacro:len_macro>

  <link name="peg_A4_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_A4" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_A4_link"/>
    <origin xyz="${0.866*0.523} -0.025 ${-0.5*0.523}" rpy="${pi} ${4*pi/6} 0" />
  </joint>

  <!-- lens_B1 -->
  <xacro:len_macro 
    link_name="lens_B1_link" 
    parent_name="world"
  >
    <origin xyz="-0.5 -0.3015 1.2" rpy="0 ${pi} ${-pi/2}" />
  </xacro:len_macro>

  <link name="peg_B1_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_B1" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_B1_link"/>
    <origin xyz="${-0.5*0.523} -0.025 ${0.866*0.523}" rpy="${pi} ${-pi/6} 0" />
  </joint>

  <!-- lens_B2 -->
  <xacro:len_macro 
    link_name="lens_B2_link" 
    parent_name="world"
  >
    <origin xyz="-0.551 -0.3015 1.2" rpy="0 ${pi} ${-pi/2}" />
  </xacro:len_macro>

  <link name="peg_B2_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_B2" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_B2_link"/>
    <origin xyz="${-0.866*0.523} -0.025 ${0.5*0.523}" rpy="${pi} ${-2*pi/6} 0" />
  </joint>

  <!-- lens_B3 -->
  <xacro:len_macro 
    link_name="lens_B3_link" 
    parent_name="world"
  >
    <origin xyz="-0.602 -0.3015 1.2" rpy="0 ${pi} ${-pi/2}" />
  </xacro:len_macro>

  <link name="peg_B3_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_B3" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_B3_link"/>
    <origin xyz="${-1*0.523} -0.025 ${0*0.523}" rpy="${pi} ${-3*pi/6} 0" />
  </joint>

  <!-- lens_B4 -->
  <xacro:len_macro 
    link_name="lens_B4_link" 
    parent_name="world"
  >
    <origin xyz="-0.653 -0.3015 1.2" rpy="0 ${pi} ${-pi/2}" />
  </xacro:len_macro>

  <link name="peg_B4_link">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/main_body_peg.STL"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision><geometry><mesh filename="package://my_env_description/meshes/main_body_peg.STL"/></geometry></collision>
  </link>
  <joint name="platform_to_peg_B4" type="fixed">
    <parent link="platform_link"/>
    <child link="peg_B4_link"/>
    <origin xyz="${-0.866*0.523} -0.025 ${-0.5*0.523}" rpy="${pi} ${-4*pi/6} 0" />
  </joint>


  <!-- 全局相机 -->
  <!-- 创建 RealSense 相机 使用宏定义 -->
    <!-- params 'name' is actually tf_prefix with '_' -->
    <xacro:sensor_d435 
      parent="world" 
      name="global_realsense"
      use_nominal_extrinsics="false" 
      add_plug="false" 
      use_mesh="true"
    >
      <!-- RealSense 的基座位于相机底部的1/4螺纹孔，距离后背面10mm，底部平面距离后背2个螺纹孔所在直线12.5mm -->
      <origin xyz="0 0.2 1.8" rpy="0 ${pi/4} ${-pi/2}"/>
    </xacro:sensor_d435>

  <!-- UR 安装座 link & joint -->
  <link name="ur_mount_A"/>
  <joint name="world_to_ur_mount_A" type="fixed">
    <parent link="world"/>
    <child link="ur_mount_A"/>
    <origin xyz="0.6 0.4 0.8" rpy="0 0 0" />
  </joint>

  <link name="ur_mount_B"/>
  <joint name="world_to_ur_mount_B" type="fixed">
    <parent link="world"/>
    <child link="ur_mount_B"/>
    <origin xyz="-0.6 0.4 0.8" rpy="0 0 ${pi}" />
  </joint>

  <!-- 创建 UR 机器人 -->
  <xacro:my_arm
    name = "ur_A"
    tf_prefix = "${arm_A_tf_prefix}"
    parent = "ur_mount_A"
    ur_type = "${ur_A_ur_type}"
    use_fake_hardware = "${use_fake_hardware}"
    use_fake_sensor_commands = "${use_fake_sensor_commands}"
    use_sim_gazebo = "${use_sim_gazebo}"
    generate_ros2_control = "${generate_ros2_control}"
    ur_robot_ip = "${ur_A_robot_ip}"
    ur_reverse_ip = "${ur_reverse_ip}"
    ur_reverse_port = "${ur_A_reverse_port}"
    ur_script_sender_port = "${ur_A_script_sender_port}"
    ur_script_command_port = "${ur_A_script_command_port}"
    ur_trajectory_port = "${ur_A_trajectory_port}"
    ur_headless_mode = "${ur_headless_mode}"
    g2f85_com_port = "${gripper_com_port_A}"
    realsense_use_nominal_extrinsics = "${camera_use_nominal_extrinsics}"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:my_arm>

  <xacro:my_arm
    name = "ur_B"
    tf_prefix = "${arm_B_tf_prefix}"
    parent = "ur_mount_B"
    ur_type = "${ur_B_ur_type}"
    use_fake_hardware = "${use_fake_hardware}"
    use_fake_sensor_commands = "${use_fake_sensor_commands}"
    use_sim_gazebo = "${use_sim_gazebo}"
    generate_ros2_control = "${generate_ros2_control}"
    ur_robot_ip = "${ur_B_robot_ip}"
    ur_reverse_ip = "${ur_reverse_ip}"
    ur_reverse_port = "${ur_B_reverse_port}"
    ur_script_sender_port = "${ur_B_script_sender_port}"
    ur_script_command_port = "${ur_B_script_command_port}"
    ur_trajectory_port = "${ur_B_trajectory_port}"
    ur_headless_mode = "${ur_headless_mode}"
    g2f85_com_port = "${gripper_com_port_B}"
    realsense_use_nominal_extrinsics = "${camera_use_nominal_extrinsics}"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:my_arm>



  <!-- 创建 mujoco ros2 control 相关 -->
  <!-- 只保留一个 ros2_control system：只启动一次 MujocoSystemInterface -->
  <xacro:if value="${use_sim_mujoco}">
    <xacro:property name="arm_A_ur_prefix" value="${arm_A_tf_prefix}ur_"/> <!-- ! Match the prefix in my_arm_macro.urdf.xacro -->
    <xacro:property name="arm_B_ur_prefix" value="${arm_B_tf_prefix}ur_"/> <!-- ! Match the prefix in my_arm_macro.urdf.xacro -->
    <xacro:property name="arm_A_realsense_prefix" value="${arm_A_tf_prefix}realsense_"/> <!-- ! append the '_' in the prefix -->
    <xacro:property name="arm_B_realsense_prefix" value="${arm_B_tf_prefix}realsense_"/> <!-- ! append the '_' in the prefix -->
    <xacro:property name="arm_A_g2f85_prefix" value="${arm_A_tf_prefix}"/> <!-- ! Match the prefix in my_arm_macro.urdf.xacro -->
    <xacro:property name="arm_B_g2f85_prefix" value="${arm_B_tf_prefix}"/> <!-- ! Match the prefix in my_arm_macro.urdf.xacro -->
    
    <ros2_control name="my_env_ros2_mujoco" type="system">
      <hardware>
        <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
        <param name="mujoco_model">${mjcf_file_path}</param>
        <!-- Override the slowdown settings in the Simulate App and run at 3x speed -->
        <param name="sim_speed_factor">1.0</param>
        <!-- If set to true, will not launch the Simulate App window -->
        <param name="headless">false</param>
        <!-- Publish camera images -->
        <param name="camera_publish_rate">30.0</param>
        <!-- Publish lidar scans at 10 hz -->
        <param name="lidar_publish_rate">10.0</param>
      </hardware>

      <!-- 全局相机 -->
      <!-- ! For cameras, the sensor name _must_ match the camera name in the MJCF -->
      <sensor name="global_realsense_camera">

        <!-- Parameters will be used as is -->
        <param name="frame_name">global_realsense_link</param>
        <param name="info_topic">/global_realsense_camera/camera_info</param>
        <param name="image_topic">/global_realsense_camera/color</param>
        <param name="depth_topic">/global_realsense_camera/depth</param>
      </sensor>

      <!-- 把两套机械臂的 joint/sensor 接口“塞进同一个 system”里 -->
      <xacro:my_arm_mujoco_control
          ur_tf_prefix="${arm_A_ur_prefix}"
          realsense_tf_prefix="${arm_A_realsense_prefix}"
          g2f85_tf_prefix="${arm_A_g2f85_prefix}"/>

      <xacro:my_arm_mujoco_control
          ur_tf_prefix="${arm_B_ur_prefix}"
          realsense_tf_prefix="${arm_B_realsense_prefix}"
          g2f85_tf_prefix="${arm_B_g2f85_prefix}"/>
    </ros2_control>
  </xacro:if>



  </xacro:macro>
</robot>