<?xml version="1.0"?>
<robot name="my_env" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find my_env_description)/urdf/dual_arm_config.xacro"/>
  <xacro:include filename="$(find my_env_description)/urdf/my_arm_macro.urdf.xacro"/>

  <!-- Jazzy: 纯几何描述，不包含 ros2_control -->
  <xacro:macro name="my_env" params="
  camera_use_nominal_extrinsics:=false
  safety_limits:=false
  safety_pos_margin:=0.15
  safety_k_position:=20
  force_abs_paths:=false
  ">

  <!-- 定义材料 -->
  <material name="table_material">
    <color rgba="0.863 0.875 0.890 1"/>
  </material>
  <material name="arm_shelf_material">
    <color rgba="0.15 0.15 0.15 1"/>
  </material>

  <link name="world"/>
  <!-- world2tabel joint -->
  <joint name="world_to_table" type="fixed">
    <parent link="world" />
    <child link="table" />
    <origin xyz="${0.863 + 0.02} 0 0" rpy="0 0 0" />
  </joint>
  <!-- world2arm_shelf joint -->
  <joint name="world_to_arm_shelf" type="fixed">
    <parent link="world" />
    <child link="arm_shelf" />
    <origin xyz="0 0 0.15" rpy="0 0 ${-pi/2}" />
  </joint>

  <!-- 桌子 link -->
  <link name="table">
    <visual>
      <geometry>
        <box size="1.0 2.7 0.765"/> # L*W*H=2.7*1.0*0.765m
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${0.765/2}" />
      <material name="table_material"/>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 2.7 0.765"/> # L*W*H=2.7*1.0*0.765m
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${0.765/2}" />
    </collision>
  </link>

  <!-- 机械臂安装台 -->
  <link name="arm_shelf">
    <visual>
      <geometry>
        <mesh filename="package://my_env_description/meshes/arm_shelf.STL"/> # L*W*H=0.613*0.726*1.353m
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="arm_shelf_material"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.726 0.613 1.353"/> # L*W*H=0.726*0.613*1.353m
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 ${1.353/2}" />
    </collision>
  </link>

  <!-- UR 安装座 link & joint -->
  <link name="ur_mount_A"/>
  <joint name="table_to_ur_mount_A" type="fixed">
    <parent link="arm_shelf"/>
    <child link="ur_mount_A"/>
    <origin xyz="0.431 0.1875 1.0575" rpy="0 ${pi/2} 0" />
  </joint>

  <link name="ur_mount_B"/>
  <joint name="table_to_ur_mount_B" type="fixed">
    <parent link="arm_shelf"/>
    <child link="ur_mount_B"/>
    <origin xyz="-0.363 0.1875 1.0575" rpy="0 ${-pi/2} 0" />
  </joint>

  <!-- 创建 UR 机器人 (Jazzy: 仅传几何相关参数) -->
  <xacro:my_arm
    name = "ur_A"
    tf_prefix = "${arm_A_tf_prefix}"
    parent = "ur_mount_A"
    ur_type = "${ur_A_ur_type}"
    kinematics_parameters_file = "${ur_A_kinematics_parameters_file}"
    gripper_type = "${gripper_type}"
    realsense_use_nominal_extrinsics = "${camera_use_nominal_extrinsics}"
    safety_limits = "${safety_limits}"
    safety_pos_margin = "${safety_pos_margin}"
    safety_k_position = "${safety_k_position}"
    force_abs_paths = "${force_abs_paths}"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:my_arm>

  <xacro:my_arm
    name = "ur_B"
    tf_prefix = "${arm_B_tf_prefix}"
    parent = "ur_mount_B"
    ur_type = "${ur_B_ur_type}"
    kinematics_parameters_file = "${ur_B_kinematics_parameters_file}"
    gripper_type = "${gripper_type}"
    realsense_use_nominal_extrinsics = "${camera_use_nominal_extrinsics}"
    safety_limits = "${safety_limits}"
    safety_pos_margin = "${safety_pos_margin}"
    safety_k_position = "${safety_k_position}"
    force_abs_paths = "${force_abs_paths}"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:my_arm>


  </xacro:macro>
</robot>
