<?xml version="1.0"?>
<robot name="my_env" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- 首先包含自定义描述宏 -->
  <xacro:include filename="$(find my_env_description)/urdf/my_env_macro.urdf.xacro"/>

  <!-- 我们需要指定用于参数化描述的参数 -->
  <!-- 为所需的ur_type创建一个文件夹，并从ur_description包中复制文件到那里 -->

  <!-- 夹爪和相机参数 -->
  <!-- gripper_type 默认在 dual_arm_config.xacro 中配置，此处可通过命令行覆盖 -->
  <xacro:arg name="gripper_type" default="dh_ag95"/>
  <xacro:property name="gripper_type" value="$(arg gripper_type)"/>
  <xacro:arg name="camera_use_nominal_extrinsics" default="true"/>
  <!-- UR 安全限位和路径参数 -->
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="force_abs_paths" default="false"/>


  <!-- Jazzy: 纯描述入口，用于 RViz/MoveIt，不包含 ros2_control -->
  <xacro:my_env 
    camera_use_nominal_extrinsics="$(arg camera_use_nominal_extrinsics)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="$(arg force_abs_paths)"

  />

</robot>